<div class="share-buttons">

  <a href="{{ site.url }}/{{ site.feed.path }} "><img alt="RSS Feed"
      src="https://casjaysdev-sites.github.io/static/default-icons/social/rss-48x48.png" /></a>

  <a href="https://github.com/{{ site.footer-links.github }}" target="_blank" title="Github"><img alt="Tweet"
      src="https://casjaysdev-sites.github.io/static/default-icons/social/github-48x48.png" /></a>

  <a href="mailto:{{ site.footer-links.email }}"><img alt="Send via email"
        src="https://casjaysdev-sites.github.io/static/default-icons/social/email-48x48.png" /></a>

  <!-- ShareThis BEGIN -->
  <div class="container" style="width: 200px; margin: 0 auto; rows: auto; columns: auto;">
    <script type='text/javascript' src='https://platform-api.sharethis.com/js/sharethis.js#property=5acc08103368f4001495b647&product=inline-share-buttons' async='async'></script>
    <div class="sharethis-inline-share-buttons"></div>
  </div>
  <!-- ShareThis END -->

</div>
