<script type="text/javascript">
var sc_project=8585230;
var sc_invisible=0;
var sc_security="ef07ac24";
var scJsHost = (("https:" == document.location.protocol) ?
"https://secure." : "http://www.");
document.write("<sc"+"ript type='text/javascript' src='" +
scJsHost+
"statcounter.com/counter/counter.js'></"+"script>");
</script>
<noscript><div class="statcounter"><a title="web stats"
href="http://statcounter.com/p8585230/summary/?guest=1" target="_blank"><img
class="statcounter"
src="//c.statcounter.com/8585230/0/ef07ac24/0/" alt="web
stats"></a></div></noscript>
