div {
	text-align: center
	}

a:visited {
	color: #C39;
}
a:hover {
	color: #228B22 !important;
}
a:active {
	color: #C0F;
}

.wrapper-footer {
  margin-top: 50px;
  border-top: 1px solid #ddd;
  border-bottom: 1px solid #ddd;
}

.footer {
  font-size: 12px !important;
  padding: 10px 0 !important;
  text-align: center !important;
}
